
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Comfortaa:wght@300..700&family=Gorditas:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-y: scroll;
    width: 100%;
}

.logo img{
    width: 190px;
    height: 32px;
    margin-block: 34px;
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 295px;
    margin-block: 25px;
    font-family: mona sans;
}

select{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-family: mona sans;
}

.button-container{
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin-block: 24px;
}

.CTA button{
    width:138px;
    height: 45px;
    border-radius: 6px;
    color: white;
    background-color: #5A20FF;
    outline: none;
    border: none;
    margin-top: -8px;
    font-family: mona sans;
    font-size: 17px;
    font-weight: 600;
}

.account{
    margin-top: -8px;
    font-family: mona sans;
}

.hero-text-container{
    position: relative;
    padding-block: 180px;
    background-image:url(Images/Home\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}

.hero-text{
    color: white;
    font-family: mona sans;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 84px;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
}

.hero-subtext{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: mona sans;
    font-size: 26px;
    line-height: 40px;
    margin-top: 30px;
}

.second-CTA-button{
    width: 250px;
    height: 60px;
    color: white;
    background-color: #5A20FF;
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 620px;
    margin-top: 30px;
    outline: none;
    border: none;
}

.advert{
    position:absolute;
    background-color:#F8F7FC;
    width: 100%;
    padding-bottom: 18vh;
}

.video-advert{
    position: relative;
    bottom: 15vh;
    width: 630px;
    height: 360px;
    display: block;
   margin-inline: 430px; 
}

.advert-subtext{
    text-align: center;
    font-family: mona sans;
    line-height: 40px;
    font-size: 26px;
    margin-block:-4vh;
    font-weight: 500;
}

.advert-subtext span{
    color: #5A20FF;
}

.logo-advert-container{
    display: flex;
    align-items: center;
    gap: 68px;
    margin-top: 10vh;
    justify-content: center;
}

.microsoft img{
    width: 115px;
    height: 27px;
}

.unicef img{
   width: 106px;
   height: 27px;
}

.rapid img{
    width: 100px;
    height: 28px;
}

.hp img{
    width: 39px;
    height: 39px;
}

.dash img{
    width: 97px;
    height: 27px;
}

.postman img{
    width: 120px;
    height: 32px;
}

.near img{
    width: 102px;
    height: 27px;
}

.mailtrap img{
    width: 104px;
    height: 27px;
}

.advert-explanation{
    background-color: white;
    margin-top: 102vh;
    margin-bottom: 15vh;
}

.advert-explanation h2{
    font-family: mona sans;
    font-size: 56px;
    font-weight: 800;
    margin-left: 130px;
}

.advert-explanation p{
    font-family: mona sans;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    margin-left: 130px;
    color: #545745;
}

.container1{
    display: flex;
    gap: 32px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.container2{
    display: flex;
    gap: 32px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.performance img,
.security img,
.maintenance img,
.compactibility img{
    width: 50px;
    height: 50px;
}

.performance p,
.security p,
.maintenance p,
.compactibility p{
    font-size: 19px;
    line-height: 28px;
    margin-left: 5px;
}

.performance h3,
.security h3,
.maintenance h3,
.compactibility h3{
    font-family: mona sans;
    font-size: 26px;
    font-weight: 800px;
    margin-left: 5px;
}

.performance,
.security,
.maintenance,
.compactibility{
    background-color: #F8F7FC;
    padding: 30px 30px;
    width: 614px;
    height: 309px;
    border-radius: 20px;
}

.advert-value-headline-container{
    display: flex;
    justify-content: space-between;
}

.advert-value-headline{
    font-family: mona sans;
    font-size: 56px;
    font-weight: 800px;
    margin-left: 130px;
}

.advert-value-subtext p{
    font-family: mona sans;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 31px;
    margin-left: 130px;
}

.compare-studio-and-audio-button{
    width: 249px;
    height: 50px;
    background-color: #5A20FF;
    color: white;
    font-size: 19px;
    font-family: mona sans;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-right: 130px;
}

.advert-value-main-container{
    background-color: #F8F7FC;
    height: 1766px;
}

.simply-static-pro-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.simply-static-studio-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.simply-static-headline{
    font-family: mona sans;
    font-size: 26px;
    font-weight: 800;
}

.simply-static-pro-subtext{
    font-size: 19px;
    font-family: mona sans;
    font-weight: 400;
    line-height: 28px;
}

.simply-static-pro-headline{
    font-size: 19px;
    font-family: mona sans;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
}

.get-simply-static-pro-button{
    width: 234px;
    height: 50px;
    background-color: #5A20FF;
    color: white;
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
}

.simply-static-container{
    background-color: #E9E7FF;
    width: 614px;
    height: 1323px;
    padding: 32px;
    border-radius: 5px;
}

.subcontainer{
    background-color: white;
    width: 550px;
    height: 364px;
    margin-top: 15px;
    border-radius: 10px;
}

.subcontainer2{
    background-color: white;
    width: 550px;
    height: 316px;
    margin-top: 15px;
    border-radius: 10px;
}

.subcontainer3{
    background-color: white;
    width: 550px;
    height: 220px;
    margin-top: 15px;
    border-radius: 10px;
}

.minicontainer{
    display: flex;
    margin-top: 1px;
    padding: 10px;
}

.minicontainer p{
    font-family: mona sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
}

.tick img{
    width: 32px;
    height: 32px;
}

.advert-value-minitext{
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    padding-top: 17px ;
    margin-left: 24px;
}

.simply-static-container2{
    background-color: #14111F;
    width: 614px;
    height: 1323px;
    padding: 32px;
    border-radius: 5px;
}

.main-container{
    display: flex;
    gap: 32px;
    margin-left: 130px;
}

.subcontainer4{
    background-color: #3D386B;
    color: white;
    width: 550px;
    height: 364px;
    margin-top: 15px;
    border-radius: 10px;
}

.subcontainer5{
    background-color: #3D386B;
    color: white;
    width: 550px;
    height: 316px;
    margin-top: 15px;
    border-radius: 10px;
}

.subcontainer6{
    background-color: #3D386B;
    color: white;
    width: 550px;
    height: 220px;
    margin-top: 15px;
    border-radius: 10px;
}

.simply-static-headline2{
    color: white;
    font-family: mona sans;
    font-size: 26px;
    font-weight: 800;
}

.simply-static-pro-headline2{
    font-size: 19px;
    font-family: mona sans;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
    color: white;
}

.simply-static-pro-subtext2{
    font-size: 19px;
    font-family: mona sans;
    font-weight: 400;
    line-height: 28px;
    color: white;
}

.get-simply-static-pro-button2{
    width: 363px;
    height: 50px;
    background-color: #5A20FF;
    color: white;
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
}

.target-audience-section-headline{
    font-family: mona sans;
    font-size: 56px;
    font-weight: 800px;
    margin-left: 130px;
    line-height: 67px;
    margin-top: 112px;
}

.target-audience-section-container{
    display: flex;
    gap: 254px;
    margin-top: 31px;
}

.target-audience-section-subtext p{
    font-family: mona sans;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 31px;
    margin-left: 130px;
    line-height: 40px;
}

.developers img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.agencies img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.content-creators img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.developers h3,
.agencies h3,
.content-creators h3{
    font-family: mona sans;
    font-size: 26px;
    font-weight: 800;
}

.developers p,
.agencies p,
.content-creators p{
    font-family: mona sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
}

.target-audience-section-subcontainer{
    display: flex;
    justify-content: space-around;
    background-color: #E9E7FF;
    margin-left: 130px;
    margin-right: 130px;
    padding: 48px;
    border-radius: 20px;
}

.stats-container{
    display: flex;
    gap: 32px;
    font-family: mona sans;
    margin-top: 48px;
    margin-left: 130px;
    margin-right: 130px;
}

.stats1 h3,
.stats2 h3,
.stats3 h3,
.stats4 h3{
    font-weight: 900;
    font-size: 44px;
    line-height: 66px;  
}

.stats1 p,
.stats2 p,
.stats3 p,
.stats4 p{
    font-size: 19px;
    text-align: center;
    margin-bottom: 1px;
}

.stats1,
.stats2,
.stats3,
.stats4{
    background-color: #E9E7FF;
    width: 291px;
    height: 157px;
    text-align: center;
    padding: 32px;
    border-radius: 20px;
}

.logo-advert-container2{
    display: flex;
    gap: 68px;
    margin-top: 48px;
    margin-left: 130px;
    margin-right: 130px;
}

.target-audience-section-main-container{
    height: 1000px;
}

.testimonials-main-container{
    background-image: url(Images/div.wp-block-cover.png);
    background-repeat: no-repeat;
    position: relative;
    bottom: 280vh;
    background-position: center;
    background-size: 1920px 1801px;
    margin-top: 185vh;
    margin-bottom: 200vh;
    padding-bottom: -91vh;
}

.testimonials-main-container h3{
    color: white;
    text-align: center;
    position: relative;
    bottom: -105vh;
    font-family: mona sans;
    line-height: 67px;
    font-size: 46px;
    font-weight: 800;
    margin-top: 146vh;
    padding-top: 20vh;
}

.testimonials-main-container p{
    color: white;
    text-align: center;
    position: relative;
    bottom: -100vh;
    font-family: mona sans;
    line-height: 40px;
    font-size: 26px;
    font-weight: 400;
    margin-top: 31px;
    padding-top: 20px;
}

.testicontainer1{
    background-color: white;
    width: 398px;
    height: 383px;
    border-radius: 20px;
    position: relative;
    bottom: 120vh;
    margin-bottom: 60px;
}

.testicontainer2,.testicontainer3{
    background-color: white;
    width: 398px;
    height: 439px;
    border-radius: 20px;
    position: relative;
    bottom: 120vh;
}

.testicontainer-sub-container{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding-top: 228vh;
    padding-bottom: 30px;
}

.testicontainer-sub-container2{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.testicontainer4{
    background-color: white;
    width: 398px;
    height: 327px;
    border-radius: 20px;
    position: relative;
    bottom: 128vh;
    margin-bottom: 60px;
}

.testicontainer5 {
    background-color: white;
    width: 398px;
    height: 327px;
    border-radius: 20px;
    position: relative;
    bottom: 120vh;
    gap: 32px;
}

.testicontainer6{
    background-color: white;
    width: 398px;
    height: 355px;
    border-radius: 20px;
    position: relative;
    bottom: 120vh;
    gap: 32px;
}

.testicontainer-sub-container3{
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 32px;
}

.testicontainer7{
    background-color: white;
    width: 398px;
    height: 299px;
    border-radius: 20px;
    position: relative;
    bottom: 136vh;
    margin-bottom: 60px;
}

.testicontainer8{
    background-color: white;
    width: 398px;
    height: 355px;
    border-radius: 20px;
    position: relative;
    bottom: 128vh;
    margin-bottom: 60px;
}

.testicontainer9{
    background-color: white;
    width: 398px;
    height: 327px;
    border-radius: 20px;
    position: relative;
    bottom: 129vh;
    margin-top:32px;
    margin-bottom: 60px;
}

.testicontainer1 img{
    width: 93px;
    height: 28px;
    margin-top:31px;
    margin: 32px;
}

.testicontainer1 p{
    position: relative;
    top: -8vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px; 
}

.male-avatar img{
    width: 60px;
    height: 60px;
}

.avatar-data h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
}

.avatar-data p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: 25px;
}

.avatar-data{
    margin-block: 25px;
    margin-right: 30px;
}

.developers-data-container{
    display:flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 12vh;
}

.testicontainer2 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer2 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px; 
}

.male-avatar2 img{
    width: 60px;
    height: 60px;
}

.developers-data-container2{
    display:flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8vh;
}

.avatar-data2 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data2 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
}

.testicontainer3 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer3 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px; 
}

.male-avatar3 img{
    width: 60px;
    height: 60px;
}

.developers-data-container3{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8vh;
}

.avatar-data3 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data3 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
}

.testicontainer4 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer4 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px;
}

.developers-data-container4{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8vh;
}

.male-avatar4 img{
    width: 60px;
    height: 60px;
}

.avatar-data4 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data4 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
}

.testicontainer5 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer5 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px; 
}

.developers-data-container5{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 10vh;
}

.male-avatar5 img{
    width: 60px;
    height: 60px;
}

.avatar-data5 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data5 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
    line-height: 28px;
}

.testicontainer6 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer6 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px; 
}

.male-avatar6 img{
    width: 60px;
    height: 60px;
}

.developers-data-container6{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 11vh;
}

.avatar-data6 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data6 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
    line-height: 28px;
}

.testicontainer7 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer7 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px;
}

.male-avatar7 img{
    width: 60px;
    height: 60px;
}

.developers-data-container7{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8vh;
}

.avatar-data7 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data7 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
    line-height: 28px;
}

.testicontainer8 img{
    width: 93px;
    height: 28px;
    margin-top: 31px;
    margin-left: 32px;
}

.testicontainer8 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px;
}

.developers-data-container8{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 10vh;
}

.male-avatar8 img{
    width: 60px;
    height: 60px;
}

.avatar-data8 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data8 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
    line-height: 28px; 
}

.testicontainer9 img{
    width: 93px;
    height: 28px;
    margin-left: 32px;
    margin-top: 31px;
}

.testicontainer9 p{
    position: relative;
    bottom: 4vh;
    color: black;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
    margin: 32px;
    line-height: 28px;
}

.male-avatar9 img{
    width: 60px;
    height: 60px;
}

.developers-data-container9{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8vh;
}

.avatar-data9 h5{
    font-weight: 600;
    font-size: 19px;
    text-align: justify;
    font-family: mona sans;
    margin-top: 30px;
}

.avatar-data9 p{
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    font-family: mona sans;
    margin-left: 0.1vh;
    margin-top: -3px;
    line-height: 28px;
}

.sponsors-section-main-container h4{
    position: relative;
    bottom: 580vh;
    text-align: center;
    font-family: mona sans;
    font-size: 46px;
    font-weight: 800;
    line-height: 56px;
}

.sponsors-section-main-container p{
    position: relative;
    bottom: 576vh;
    font-family: mona sans;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
}

.wpforms{
    padding: 31px 85px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.wpforms img{
    width: 121px;
    height: 34px;
    align-items: center;
    justify-content: center; 
}

.gravity-forms{
    padding: 35px 58px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.gravity-forms img{
    width: 175px;
    height: 27px;
}

.fluent-forms{
    padding: 34px 77px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.fluent-forms img{
    width: 137px;
    height: 30px;
}

.wsform{
    padding: 35px 99px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.wsform img{
    width: 93px;
    height: 27px;
}

.sponsors-logo-container{
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    position: relative;
    bottom: 560vh;
}

.sponsors-logo-container2{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 556vh;
}

.elementor{
    padding: 35px 79px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.elementor img{
    width: 133px;
    height: 27px;
}

.bricks{
    padding: 35px 85px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.bricks img{
    width: 112px;
    height: 27px;
}

.brizy{
    padding: 32px 99px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.brizy img{
    width: 93px;
    height: 34px;
}

.yoast{
    padding: 32px 107px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.yoast img{
    width: 77px;
    height: 34px;
}

.sponsors-logo-container3{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 552vh;
}

.rankmath{
    padding: 33px 71px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.rankmath img{
    width: 148px;
    height: 27px;
}

.AIOSEO{
    padding: 33px 95px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.AIOSEO img{
    width: 101px;
    height: 27px;
}

.seopress{
    padding: 33px 84px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.seopress img{
    width: 123px;
    height: 27px;
}

.wpml{
    padding: 32px 99px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.wpml img{
    width: 93px;
    height: 30px;
}

.sponsors-logo-container4{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 548vh;
}

.jetpack{
    padding: 32px 85px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.jetpack img{
    width: 121px;
    height: 32px;
}

.polylang{
    padding: 32px 74px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.polylang img{
    width: 143px;
    height: 34px;
}

.shortpixel{
    padding: 34px 73px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.shortpixel img{
    width: 145px;
    height: 29px;
}

.complianz{
    padding: 35px 85px;
    background-color: #F8F7FC;
    border-radius: 20px;
}

.complianz img{
    width: 121px;
    height: 27px;
}

.overall-CTA-section{
    width: 100%;
    height: 512px;
    background-color: #5A20FF;
    position: relative;
    bottom: 530vh;
}

.overall-CTA-section h2{
    color: white;
    font-family: mona sans;
    font-size: 46px;
    font-weight: 800;
    line-height: 56px;
    margin-left: 130px;
    position: relative;
    top: 112px;
}

.overall-CTA-section p{
    color: white;
    font-size: 26px;
    font-family: mona sans;
    font-weight: 400;
    position: relative;
    top: 130px;
    margin-left: 130px;
}

.CTA1{
    background-color: black;
    color: white;
    width: 197px;
    height: 50px;
    position: relative;
    top: 20vh;
    margin-left: 130px;
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
}

.CTA2{
    background-color: black;
    color: white;
    width: 234px;
    height: 50px;
    position: relative;
    top: 20vh;
    left: 20px;
    font-family: mona sans;
    font-size: 19px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 6px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 520vh;
}

.company-headline,
.resources-headline,
.static-wordpress-headline,
.compare-headline{
    font-size: 19px;
    font-weight: 600;
    font-family: mona sans;
}

.legal-disclosure,
.terms-of-service,
.VDP-program,
.data-privacy{
    font-family: mona sans;
    font-size: 19px;
    font-weight: 400;
    margin-top: 31px;
}

.terms-of-service,
.VDP-program,
.data-privacy{
    margin-top: 15px;
}

.changelogs,
.case-studies,
.glossary,
.account{
    font-family: mona sans;
    font-size: 19px;
    font-weight: 400;
    margin-top: 31px; 
}

.case-studies,
.glossary,
.account{
    margin-top: 15px;
}

.wordpress-to-static,
.headless-wordpress,
.performance-boost,
.security-benefit{
    font-size: 19px;
    font-weight: 400;
    font-family: mona sans;
    margin-top: 31px;
}

.headless-wordpress,
.performance-boost,
.security-benefit{
    margin-top: 15px;
    font-weight: 400;
}

.WP2,
.hardypress,
.strattic,
.all-comparisons{
    font-size: 19px;
    font-weight: 400;
    font-family: mona sans;
    margin-top: 31px;
}

.hardypress,
.strattic,
.all-comparisons{
    margin-top: 15px;
}


@media screen and (max-width:840px) {
    .navlinks{
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-container{
        justify-content: left;
        flex-direction: column;
    }

    .button-container{
        display: none;
    }

    .hero-text{
        font-size: 37px;
        line-height: 42px;
        margin-top: -15vh;
        margin-inline: 4vh;
        margin-left: 20px;
        margin-right: 20px;
    }

    .second-CTA-button{
        margin-inline: 11vh
    }

    .video-advert{
        margin-left: 5vh;
        width: 80%;
        height: 80%;
    }

    .advert-subtext{
        font-size: 24px;
        text-align: center;
        margin-left: 16px;
        margin-right: 16px;
    }

    .logo-advert-container{
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2vw;
        
    }

    .advert-explanation h2{
        margin-inline: 16px;
        line-height: 32px;
        position: relative;
        top: 190px;
        font-size: 32px;
    }

    .advert-explanation p{
        position: relative;
        top: 210px;
        margin-inline: 16px;
        font-size: 26px;
    }

    .container1,
    .container2{
        flex-direction: column;
    }

    .container2{
        margin-top: 32px;
    }

    .performance,
    .security,
    .maintenance,
    .compactibility{
        background-color: #F8F7FC;
        padding: 15px 15px;
        width: 314px;
        height: 309px;
        border-radius: 20px;
        margin-top: 200px;
        color: black;
    }

    .security,
    .maintenance,
    .compactibility{
        margin-top: 32px;
    }

    .performance p,
    .security p,
    .maintenance p,
    .compactibility p{
        font-size: 16px;
        margin-block: -29vh;
        margin-left: 12px;
    }

    .advert-value-headline{
        font-size: 28px;
        line-height: 42px;
        margin-left: 24px;
        padding-top: 30px;
    }

    .advert-value-headline-container{
        flex-direction: column;
    }

    .advert-value-subtext p{
        font-size: 24px;
        line-height: 42px;
        margin-left: 24px;
    }

    .compare-studio-and-audio-button{
        margin-left: 24px;
    }

    .main-container{
        flex-direction: column;
    }

    .simply-static-container{
        align-items: center;
        justify-content: center;
        margin-inline: -100px;
        margin-top: 20px;
        background-color: #E9E7FF;
        width: 128%;
        height: 100%;
        padding: 24px;
        border-radius: 5px;
    }

    .subcontainer{
        background-color: white;
        width: 100%;
        height: 464px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .subcontainer2{
        background-color: white;
        width: 100%;
        height: 416px;
        margin-top: 15px;
        border-radius: 10px;
    }

    .subcontainer3{
        width: 100%;
    }

    .wordpress-plugin p,
    .deploy p {
        font-size: 19px;
    }

    .simply-static-container2{
        background-color: #14111F;
        margin-inline: -100px;
        width: 128%;
        height: 1623px;
        padding: 32px;
        border-radius: 5px;
    }

    .subcontainer4{
        width: 100%;
        height: 460px;
    }

    .subcontainer5{
        width: 100%;
        height: 440px
    }

    .subcontainer6{
        width: 100%;
        height: 220px;
    }

    .target-audience-section-main-container{
        margin-top: 240vh;
    }

    .get-simply-static-pro-button2{
        font-size: 24px;
        line-height: 32px;
        padding-left: 10px;
        width: 100%;
        height: 80px;
    }

    .target-audience-section-headline{
        font-size: 36px;
        line-height: 40px;
        margin-inline: 32px;
    }

    .target-audience-section-container{
        flex-direction: column;
    }

    .target-audience-section-subtext p{
        margin-inline: 32px;
        font-size: 24px;
        line-height: 29px;
    }

    .compare-studio-and-audio-button{
        margin-top: 20px;
        position: relative;
        bottom: 36vh;
    }

    .target-audience-section-subcontainer{
        flex-direction: column;
        position: relative;
        width: 85%;
        right: 13vh;
        padding: 32px;
        bottom: 30vh;
    }

    .agencies,
    .content-creators{
        margin-top: 40px;
    }

    .stats-container{
        flex-direction: column;
        width: 85px;
        position: relative;
        right: 13vh;
        bottom: 210px;
    }

    .stats1,
    .stats2,
    .stats3,
    .stats4{
        width: 325px;
        height: 130px;
    }

    .stats1 h3,
    .stats2 h3,
    .stats3 h3,
    .stats4 h3{
        position: relative;
        bottom: 20px;
    }

    .stats1 p,
    .stats2 p,
    .stats3 p,
    .stats4 p{
        position: relative;
        bottom: 30px;
    }


    .testimonials-main-container{
        position: relative;
        top: 290vh;
    }

    .logo-advert-container2{
        position: relative;
        bottom: 190px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

}


